/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 15, 2017, 9:17:17 AM
    Author     : jrobbins
*/
body{
    padding: 20px;
    font-family: Verdana, Arial, Hevetica, sans-serif;
    font-size: 14px;
    color: #111;
}

p, ul{
    margin-bottom: 10px;
}

ul{
    margin-left: 20px;
}